// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-pine-tree: #020301;
$color-charcoal: #484848;
$color-royal-blue: #3C52E6;
$color-white-smoke: #F5F5F5;
$color-dark-gray: #ACACAC;


// Typography
$ff-norms: "TTNormsPro", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;
