.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: $color-black;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loaderBackground 1s ease-in 27s forwards;





    &__company {
        position: absolute;
        transform: scale(0.8);
        display: block;
        transition: $transition-300;
        opacity: 0;
        filter: blur(1.5rem);

        &--1 {
            top: 122px;
            right: 0;
            animation: introIcon 0.5s ease-in 1s forwards, transformIcon-1 7s ease-out forwards, iconOpacity 1s ease-in 6s forwards;
        }

        &--2 {
            top: 50%;
            left: 0;
            animation: introIcon 0.5s ease-in 2s forwards, transformIcon-2 7s ease-out 2s forwards, iconOpacity 1s ease-in 7s forwards;
        }

        &--3 {
            bottom: 0;
            left: 500px;
            animation: introIcon 0.5s ease-in 3s forwards, transformIcon-3 7s ease-out 3s forwards, iconOpacity 1s ease-in 8s forwards;
        }

        &--4 {
            bottom: -20%;
            right: 178px;
            animation: introIcon 0.5s ease-in 4s forwards, transformIcon-4 7s ease-out 4s forwards, iconOpacity 1s ease-in 9s forwards;
        }

        &--5 {
            top: 121px;
            left: 0;
            animation: introIcon 0.5s ease-in 5s forwards, transformIcon-5 7s ease-out 5s forwards, iconOpacity 1s ease-in 10s forwards;
        }

        &--6 {
            top: 0;
            right: 520px;
            animation: introIcon 0.5s ease-in 6s forwards, transformIcon-6 7s ease-out 6s forwards, iconOpacity 1s ease-in 11s forwards;
        }

        &--7 {
            bottom: 0;
            right: 518px;
            animation: introIcon 0.5s ease-in 7s forwards, transformIcon-7 7s ease-out 7s forwards, iconOpacity 1s ease-in 12s forwards;
            ;
        }

        &--8 {
            top: 0;
            left: 487px;
            animation: introIcon 0.5s ease-in 8s forwards, transformIcon-8 7s ease-out 8s forwards, iconOpacity 1s ease-in 13s forwards;

        }

        &--9 {
            bottom: 0;
            left: 200px;
            animation: introIcon 0.5s ease-in 9s forwards, transformIcon-9 7s ease-out 9s forwards, iconOpacity 1s ease-in 14s forwards;

        }

        &--10 {
            top: 0;
            left: 578px;
            animation: introIcon 0.5s ease-in 10s forwards, transformIcon-10 7s ease-out 10s forwards, iconOpacity 1s ease-in 15s forwards;
        }

        &--11 {
            top: 50%;
            transform: translate(-50%, -50%);
            right: 0;
            animation: introIcon 0.5s ease-in 11s forwards, transformIcon-11 7s ease-out 11s forwards, iconOpacity 1s ease-in 16s forwards;
        }

        &--12 {
            bottom: -10%;
            right: 411px;
            animation: introIcon 0.5s ease-in 12s forwards, transformIcon-12 7s ease-out 12s forwards, iconOpacity 1s ease-in 17s forwards;
        }

        &--13 {
            opacity: 0;
            width: 400px;
            height: 400px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);
            animation: introIcon 0.5s ease-in 19s forwards, transformIcon-13 3s ease-out 20s forwards, icon13Opacity 3s ease-out 23s alternate infinite;
        }
    }


    &__line {
        position: absolute;
        width: 280px;
        height: 2px;
        background-color: $color-charcoal;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);

        &::before {
            position: absolute;
            content: "";
            width: 280px;
            height: 2px;
            background-color: $color-charcoal;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            animation: loaderAnim 27s $transition-300 forwards;
        }
    }

}

@keyframes iconOpacity {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@keyframes icon13Opacity {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0.2;
    }
}




@keyframes introIcon {
    0% {
        opacity: 0;
        filter: blur(1.5rem)
    }

    100% {
        opacity: 1;
        filter: blur(0)
    }
}


@keyframes transformIcon-1 {
    0% {
        transform: unset;
    }

    100% {
        transform: translate(-780px, 250px) scale(0.1);
    }
}


@keyframes transformIcon-2 {
    0% {
        transform: unset;
    }

    100% {
        transform: translate(800px, -100px) scale(0.1);
    }
}

@keyframes transformIcon-3 {
    0% {
        transform: unset;
    }

    100% {
        transform: translate(300px, -400px) scale(0.1);
    }
}

@keyframes transformIcon-4 {
    0% {
        transform: unset;

    }

    100% {
        transform: translate(-650px, -580px) scale(0.1);
    }
}


@keyframes transformIcon-5 {
    0% {
        transform: unset;

    }

    100% {
        transform: translate(850px, 320px) scale(0.1);

    }
}

@keyframes transformIcon-6 {
    0% {
        transform: unset;
    }

    100% {
        transform: translate(-300px, 420px) scale(0.1);
    }
}


@keyframes transformIcon-7 {
    0% {
        transform: unset;
    }

    100% {
        transform: translate(-300px, -400px) scale(0.1);

    }
}

@keyframes transformIcon-8 {
    0% {
        transform: unset;
    }

    100% {
        transform: translate(300px, 400px) scale(0.1);

    }
}

@keyframes transformIcon-9 {
    0% {
        transform: unset;
    }

    100% {
        transform: translate(600px, -400px) scale(0.1);
    }
}

@keyframes transformIcon-10 {
    0% {
        transform: unset;

    }

    100% {
        transform: translate(200px, 400px) scale(0.1);
    }
}

@keyframes transformIcon-11 {
    0% {
        transform: unset;

    }

    100% {
        transform: translate(-800px, -50px) scale(0.1);
    }
}

@keyframes transformIcon-12 {
   0% {
        transform: unset;

    }

    100% {
        transform: translate(-390px, -450px) scale(0.1);
    }
}

@keyframes transformIcon-13 {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    100% {
        transform: translate(-50%, -50%) scale(0.2);

    }
}


@keyframes loaderAnim {
    0% {
        background-color: $color-white;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }

    100% {
        background-color: $color-white;
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
}


@keyframes loaderBackground {
    0% {
        opacity: 1;
        ;
    }

    100% {
        opacity: 0;
    }
}